#MANTENER ORDEN EN CSS , PONER SIEMPRE PUNTO Y COMA , TAMANOS CON % NO PIXELES

@font-face
			{
				font-family: "hola";
				src:url("fuente/hola.ttf");
			}
		body
			{
				display: block;
				margin: auto;
				background-image: url(../img/fm.jpg);
				width: 100%;
				height: 1000px;
			}
			header
			{
                display: block;
				margin: auto;
  				width: 100%;
				height:20%;
				background-image: url(../img/bannerasd.jpg);
				background-repeat: repeat-x;

			} 
			
			section 
			{
				background-image: url(../img/blanco.jpg);
				width: 65%;
				height: auto;
				margin-left: 10%;
				margin-top: 1%;
				
			}
			#aside_1
				{
				position:absolute;
				background-image: url(../img/fondoaside.jpg);
				width: 15%;
				height: 100%;
				margin-left: 70%;
				color: white;
				}
         .activa
			{
				background-color: #000000;
			}
	
			A:link {color: white; font-size: 10pt; font-family: 'Bangers', serif; text-decoration: none }
            A:hover {color: white; font-size: 15pt; font-family: 'Bangers', serif; text-decoration: none }
            A:visited {color: white; font-size: 10pt; font-family: 'Bangers', serif; text-decoration: none }
				button:hover {
				 background: rgba(0,0,0,0);
				 color: #3a7999;
				 box-shadow: inset 0 0 0 3px #0046ff;
				}
		div
		{
	
			background-image: url(../img/blanco.jpg);
			margin-right: 25%;
			margin-left: 10%;
			height: auto;
			border :1px solid black;
		}
		img
		{		
			margin-left: 10%;
			width: 70%;
		
		}
		